[user]
   name = cmartell
   email = charlie.martell@cyaninc.com
   ldap = cmartell
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[core]
	excludesfile = /Users/mac/.gitignore_global
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[init]
	templatedir = /Users/mac/.git_template
